$nav-color: #24292e;
$link-color: #1269d3;
$border-bottom-hover-link-color: #e16220;
$gray-button-color: #f2f5f7;

/*HEADER SECTION*/
nav {
  background-color: $nav-color;
  position: relative;
}

i.fa-github {
  color: #fff;
  font-size: 32px;
  margin: 3px 5px 3px 3px;
}

input.form-control {
  background-color: #3f4448;
  color: #8d9092;
}

nav ul a.nav-link {
  color: #fff;
}

nav ul a.nav-link:hover {
  color: #ccc;
}

nav .fa-bell {
  color: #fff;
  margin: 0 7px;
}

nav .fa-plus {
  color: #fff;
  margin: 0 7px;
}

img.profile-pic {
  margin: 0 7px;
}

img.profile-pic-main {
  margin: 0px;
}

ul.the-main-links {
  margin: 30px;
}

@media (max-width: 992px) {
  img.profile-pic {
    display: none;
  }

  nav .fa-plus {
    display: none;
  }

  ul.the-nav-links li {
    display: none;
  }

  input.form-control {
    display: none;
  }

  .search-form {
    display: none;
  }

  i.fa-github {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    transform: translateY(50%);
    padding: 20px;
  }

  nav {
    height: 55px;
  }
}
